#corny{
    background-color: aqua;
    text-align: center;
    font-size: large;
}

p{
    color: red;
    font-style: italic;
}

.subheads{
    font-weight: bold;
    text-align: center;
    background-color: lightgreen;
}

.list{
    font-family: 'Courier New', Courier, monospace;
    color: black;
}
.img{
    content: center;
}